<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.henrichg.phoneprofileshelper"
    android:versionCode="46"
    android:versionName="1.0" >

<!--
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name=".StartActivity"
            android:label="" 
            android:taskAffinity="sk.henrichg.phoneprofileshelper"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		    <intent-filter>
		        <action android:name="phoneprofileshelper.intent.action.START"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		    </intent-filter>
		</activity>

	    <service android:name=".ReceiversService">
        </service>
        
	    <service android:name=".SetProfilePreferenceService">
        </service>
        
        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".PPHeplerBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="sk.henrichg.phoneprofileshelper.ACTION_SETPROFILEPREFERENCES"/>
                <action android:name="sk.henrichg.phoneprofileshelper.ACTION_RADIOCHANGESTATE"/>
            </intent-filter>
        </receiver>

        
    </application>

</manifest>
